.carousel {
    overflow: inherit;
    height: 500px;
    margin-top: 10px;
}

.carousel .carousel-item {
    width: 24vw;
    height: 400px;
}

/* .carousel-item img {
    image-rendering: optimizeSpeed !important;
    image-resolution: 72dpi !important;
} */

@media only screen and (max-width: 768px) {
    .carousel {
        overflow: hidden;
    }
    .carousel .carousel-item {
        width: 45vw;
    }
}

@media only screen and (max-width: 414px) {
    .carousel .carousel-item {
        width: 65vw;
    }
}