.app-container{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: #cd92a8;
}

main {
  flex: 1 0 auto;
}

.flower-line {
  width: 320px;
}

.hover-effect:hover{
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: .3s;
}

@media screen and (max-width:320px) {
  .flower-line {
    width: 270px;
  }
}